/* colors */

.bg-dark-blue {
	background: hsl(211deg 30% 25%);
}

.bg-blue {
	background: hsl(209deg 31% 33%);
}

.bg-white {
	background: hsl(0deg 0% 100%);
}

.bg-green {
	background: hsl(165deg 49% 49%);
}

.white-color {
	color: hsl(0deg 0% 100%);
}

/* header */

header {
	padding: 20px 0;
}

/* section */
section {
	padding: 20px 0;
}

/* box */

.box {
	height: 200px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
}
